@page "/Works"
@*@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage ProtectedSessionStore
@inject ProtectedLocalStorage ProtectedLocalStore*@

<div class="card">
    <div class="card-header">
        <table width="100%">
            <tr>
                <td><h6><span class="bi-tools"></span>&nbsp;업무일지 목록 <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 총 : </span>@string.Format("{0: ###,###.##}", pager.RecordCount)<span>건</span> </h6></td>
                <td></td>
                <td class="text-right">
                    <button id="Sevice" name="Sevice" class="btn btn-primary btn-sm" @onclick="onInsert_Open"><span class="bi-chat-dots"> 지시사항 등록</span></button>
                    <button id="Search" name="Search" class="btn btn-info btn-sm" @onclick="onSearch_Open"><span class="bi-search"> 검 색</span></button>
                </td>
            </tr>
        </table>

    </div>
    <div class="card-body">
        @if (ann == null)
        {
            <p style="text-align:center">
                <img src="/images/loader.gif" />
            </p>
        }
        else if (ann.Count == 0)
        {
            <p style="text-align:center">
                <img src="/images/loader.gif" />
            </p>
        }
        else
        {
            @*<div style="overflow-x: scroll">
                    <table style="font-size: 0.9em">
                        <tr>
                            <td>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" style="font-size: 0.9em"><span class="bi-clipboard-check"></span> 대분류</span></div>
                                    <select id="strWSortA" class="custom-select" value="@strWSortA" style="font-size: 0.9em; width: 150px" @onchange="onSearchA" required>
                                        <option value="">=대분류선택=</option>
                                        @foreach (var it in bloom_A)
                                        {
                                            <option value="@it.B_N_A_Name">@it.B_N_A_Name</option>
                                        }
                                    </select>
                                </div>
                            </td>

                            <td>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" style="font-size: 0.9em"><span class="bi-clipboard-check"></span> 중분류</span></div>
                                    <select id="txtPrivateB" style="font-size: 0.9em; width: 150px" class="custom-select" value="@strWSortB" @onchange="onSearchB" required>
                                        <option value="">=중분류 선택=</option>
                                        @foreach (var it in bloom_B)
                                        {
                                            <option value="@it.B_N_B_Name">@it.B_N_B_Name</option>
                                        }
                                    </select>
                                </div>
                            </td>

                            <td>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" style="font-size: 0.9em"><span class="bi-clipboard-check"></span> 소분류</span></div>
                                    <select id="txtPrivateC" class="custom-select" style="font-size: 0.9em; width: 150px" value="@strWSortC" @onchange="onSearchC" required>
                                        <option value="">=소분류 선택=</option>
                                        @foreach (var it in bloom_C)
                                        {
                                            <option value="@it.B_N_C_Name">@it.B_N_C_Name</option>
                                        }
                                    </select>
                                </div>
                            </td>



                            <td>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" style="font-size: 0.9em"><span class="bi-file-ppt"></span>&nbsp; 키워드</span></div>
                                    <input id="OnKeyWord" style="font-size: 0.9em; width: 150px" name="OnKeyWord" @onchange="OnKeyWord" class="form-control" type="text" placeholder="키워드 입력" />
                                </div>
                            </td>

                            <td>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" style="font-size: 0.9em"><span class="bi-file-ppt"></span>&nbsp; 시작일</span></div>
                                    <input id="OutCorName" style="font-size: 0.9em; width: 150px" name="OutCorName" value="@StartDate" @onchange="OnStart" class="form-control" type="date" placeholder="시작일 입력" />
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" style="font-size: 0.9em"><span class="bi-file-ppt"></span>&nbsp; 종료일</span></div>
                                    <input id="OutCorName" style="font-size: 0.9em; width: 150px" name="OutCorName" value="@EndDate" @onchange="OnEnd" class="form-control" type="date" placeholder="종료일 입력" />
                                    <div class="input-group-append">
                                        <input id="Button1" class="btn btn-primary btn-sm" style="font-size: 0.9em" type="button" @onclick="onBySearch" value="검색" />
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>*@

            <table class="table table-sm table-hover" style="font-size: 0.9em">
                <thead>
                    <tr>
                        <th class="text-center">
                            번호
                        </th>
                        <th class="text-center">
                            지시일
                        </th>
                        <th class="text-center">
                            지시자
                        </th>
                        <th class="text-center">
                            대분류
                        </th>
                        <th class="text-center">
                            중분류
                        </th>
                        <th class="text-center">
                            세분류
                        </th>
                        <th class="text-center">
                            작업장소
                        </th>
                        <th class="text-center">
                            접수부서
                        </th>
                        <th class="text-center">
                            접수자
                        </th>
                        <th class="text-center">
                            지시내용
                        </th>
                        <th class="text-center">
                            완료
                        </th>
                        @*<th class="text-center">
                                파일
                            </th>*@
                        <th class="text-center">
                            결재
                        </th>
                        <th class="text-center">
                            선택
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var st in ann)
                    {
                        <tr>
                            <td class="text-center" style="vertical-align: middle" @onclick="() => ByDetails(st)">
                                @* @string.Format("{0: ###,###.##}", (intNum--))*@
                                @string.Format("{0: ###,###.##}", (st.Num))
                            </td>
                            @*<td class="text-center" style="vertical-align: middle" @onclick="() => ByAid(st.Num)">*@
                            <td class="text-center" style="vertical-align: middle" @onclick="() => ByDetails(st)">
                                @st.svYear-@st.svMonth-@st.svDay
                            </td>
                            <td class="text-center" style="vertical-align: middle" @onclick="() => ByDetails(st)">
                                @st.svDirect
                            </td>
                            <td class="text-center" style="vertical-align: middle" @onclick="() => ByDetails(st)">
                                @Dul.StringLibrary.CutString(st.svBloomA, 18)
                            </td>
                            <td class="text-center" style="vertical-align: middle" @onclick="() => ByDetails(st)">
                                @Dul.StringLibrary.CutString(st.svBloomB, 18)
                            </td>
                            <td class="text-center" style="vertical-align: middle" @onclick="() => ByDetails(st)">
                                @Dul.StringLibrary.CutString(st.svBloomC, 18)
                            </td>
                            <td class="text-center" style="vertical-align: middle" @onclick="() => ByDetails(st)">
                                @st.svBloom
                            </td>
                            <td class="text-center" style="vertical-align: middle" @onclick="() => ByDetails(st)">
                                @st.svPost
                            </td>
                            <td class="text-center" style="vertical-align: middle" @onclick="() => ByDetails(st)">
                                @st.svReceiver
                            </td>
                            <td class="text-center" style="vertical-align: middle" @onclick="() => ByDetails(st)">
                                <span title="@st.svContent">@Dul.StringLibrary.CutString(st.svContent, 24)</span>
                            </td>
                            <td class="text-center" style="vertical-align: middle" @onclick="() => ByAid(st.Num)">
                                @if (st.Complete == "A")
                                {
                                    <span style="color:red">미완료</span>
                                }
                                else if (st.Complete == "B")
                                {
                                    <span style="color:blue">완료</span>
                                }
                            </td>
                            <td class="text-center" style="vertical-align: middle">
                                @if (st.Conform == "A")
                                {
                                    <span style="color:red">미결재</span>
                                }
                                else if (st.Conform == "B")
                                {
                                    <span style="color:blue">결재</span>
                                }
                            </td>
                            <td class="text-center" style="vertical-align: middle">
                                @*<input id="Button1" class="btn btn-link btn-sm" style="font-size: 0.9em" type="button" @onclick="() => ByDetails(st)" value="상세" />&nbsp;
                                    <input id="Button1" class="btn btn-link btn-sm" style="font-size: 0.9em" type="button" @onclick="() => ByEdit(st)" value="수정" />&nbsp;*@
                                <input id="Button1" class="btn btn-link btn-sm" style="font-size: 0.9em" type="button" @onclick="() => ByRemove(st)" value="삭제" />
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
            <div class="col-md-12">
                <DulPager.DulPagerComponent Model="pager" PageIndexChanged="PageIndexChanged"></DulPager.DulPagerComponent>
            </div>
        }
    </div>
</div>

@if (InsertViews == "B")
{
    <div class="modal fade show d-block" id="subInput" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color:beige">
                    <h6 class="modal-title"><span class="bi-people"></span>  &nbsp; 업무일지 지시내용 입력</h6>
                </div>
                <div class="modal-body">
                    <table class="table table-condensed" style="background-color:white; margin-bottom: 0px">
                        <tr id="vw3">
                            <td>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" style="font-size: 0.9em"><span class="bi-clipboard-check"></span> 지시일</span></div>
                                    <input id="svDate" name="svDate" @bind="svDate" style="font-size: 0.9em" class="form-control" type="date" />
                                </div>
                            </td>

                            <td>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" style="font-size: 0.9em"><span class="bi-clipboard-check"></span> 지시자</span></div>
                                    <select id="svDirect" class="custom-select" style="font-size: 0.9em" @bind="dnn.svDirect" required>
                                        <option value="관리소장">관리소장</option>
                                        <option value="관리과장">관리과장</option>
                                        <option value="시설과장">시설과장</option>
                                        <option value="전기과장">전기과장</option>
                                        <option value="경리과장">경리과장</option>
                                        <option value="관리실장">관리실장</option>
                                        <option value="센터장">센터장</option>
                                        <option value="기타">기타</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr id="vw3">
                            <td>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" style="font-size: 0.9em"><span class="bi-clipboard-check"></span> 접수부서</span></div>
                                    <select id="svPost" class="custom-select" value="@dnn.svPost" style="font-size: 0.9em" @onchange="OnPost" required>
                                        <option value="Z">=부서선택=</option>
                                        @foreach (var it in pnn)
                                        {
                                            <option value="@it.PostName" title="@it.Etc"> @it.PostName</option>
                                        }
                                    </select>
                                </div>
                            </td>

                            <td>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" style="font-size: 0.9em"><span class="bi-clipboard-check"></span> 접수자</span></div>
                                    <select id="txtPrivateB" class="custom-select" value="@dnn.svReceiver" style="font-size: 0.9em" @onchange="OnReciever" required>
                                        <option value="Z">=접수자선택=</option>
                                        @foreach (var it in fnn)
                                        {
                                            <option value="@it.User_Name">@it.User_Name</option>
                                        }
                                    </select>
                                </div>
                            </td>
                        </tr>

                        <tr id="vw1">
                            <td width="50%">
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" style="font-size: 0.9em"><span class="bi-clipboard-check"></span> 작업대분류</span></div>
                                    <select id="strWSortA" class="custom-select" value="@strWSortA" style="font-size: 0.9em" @onchange="onWSortA" required>
                                        <option value="Z">=대분류선택=</option>
                                        @foreach (var it in bloom_A)
                                        {
                                            <option value="@it.B_N_A_Name">@it.B_N_A_Name</option>
                                        }
                                    </select>
                                </div>
                            </td>

                            <td>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" style="font-size: 0.9em"><span class="bi-clipboard-check"></span> 작업중분류</span></div>
                                    <select id="txtPrivateB" style="font-size: 0.9em" class="custom-select" value="@strWSortB" @onchange="onWSortB" required>
                                        <option value="Z">=중분류 선택=</option>
                                        @foreach (var it in bloom_B)
                                        {
                                            <option value="@it.B_N_B_Name">@it.B_N_B_Name</option>
                                        }
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr id="vw3">
                            <td>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" style="font-size: 0.9em"><span class="bi-clipboard-check"></span> 작업소분류</span></div>
                                    <select id="txtPrivateC" class="custom-select" style="font-size: 0.9em" value="@strWSortC" @onchange="onWSortC" required>
                                        <option value="Z">=소분류 선택=</option>
                                        @foreach (var it in bloom_C)
                                        {
                                            <option value="@it.B_N_C_Name">@it.B_N_C_Name</option>
                                        }
                                    </select>
                                </div>
                            </td>

                            <td>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" style="font-size: 0.9em"><span class="bi-clipboard-check"></span> 작업 장소</span></div>
                                    <select id="txtPrivateD" class="custom-select" style="font-size: 0.9em" value="@strWSortD" @onchange="onWSortD" required>
                                        <option value="Z">=장소 선택=</option>
                                        @foreach (var it in bloom_D)
                                        {
                                            <option value="@it.Bloom">@it.Bloom</option>
                                        }
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <textarea id="svContent" rows="5" @bind="@dnn.svContent" class="form-control" placeholder="이곳에 지시내용을 입력해 주세요." style="min-width: 100%; font-size: 0.9em"></textarea>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-footer" style="background-color: burlywood">

                    <button type="button" class="btn btn-primary btn-sm" @onclick="btnSave"><span class="bi-save"> 저장</span></button> &nbsp; &nbsp; &nbsp;
                    <button type="button" class="btn btn-secondary btn-sm" @onclick="btnClose"><span class="bi-x"> 닫기</span></button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop show"></div>
}


@* 상세보기 모달폼*@
@if (Views == "B")
{
    <div class="modal fade show d-block" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color:aliceblue; padding: 10px">
                    &nbsp;&nbsp;&nbsp;<h6 class="modal-title"><span class="bi-view-stacked"></span> &nbsp; @strTitle</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="btnCloseV">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="height: 600px; overflow-y: auto">

                    <table style="width: 100%">
                        <tr>
                            <td style="width: 60%"></td>
                            <td style="text-align:right">
                                <table align="right">
                                    <tr>
                                        @foreach (var st in app)
                                        {
                                            <td style="width: 70px">
                                                <table style="width: 100%; background-color: white; color: black; font-size: 0.7em">
                                                    <tr style="border-style:dotted; border-width:1px; border-color: black; ">
                                                        <td style="text-align: center" height="18px">
                                                            @st.PostDuty
                                                        </td>
                                                    </tr>
                                                    <tr style="border-width: 1px; border-style:dotted; border-color: black; ">
                                                        <td style="text-align: center" height="50px">
                                                            @if (FuncShowOK(st.PostDuty, st.AptCode, vnn.Num) != "결재하기")
                                                            {
                                                                @*@Html.Raw(moo.Seal_View(st.PostDuty, st.AptCode, ViewBag.apNum, "Appeal"))*@
                                                                <img src="data:image/jpg;base64,@Convert.ToBase64String(sealImage(st.AptCode, st.Post, st.Duty, vnn.Num, "Service", strUserCode))" height="45" alt="" />
                                                            }
                                                            else
                                                            {
                                                                <img src="/images/inn.gif" alt="" />
                                                            }
                                                        </td>
                                                    </tr>
                                                    <tr style="border-width: 1px; border-style:dotted; border-color: black; ">
                                                        <td style="text-align: center; vertical-align:middle; color:black" height="25px">
                                                            @if (decisionA != "결재하기")
                                                            {
                                                                @decisionA
                                                            }
                                                            else
                                                            {
                                                                if (PostDuty == st.PostDuty)
                                                                {
                                                                    <a style="background-color: orange; color: white" @onclick="btnDecision">결재하기</a>
                                                                    @*<button type="button" style="font-size: 0.8em; background-color: blue; color: white">결재하기</button>*@
                                                                }
                                                                else
                                                                {
                                                                    <span>해당없음</span>
                                                                }
                                                            }
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        }
                                    </tr>
                                </table>

                            </td>
                        </tr>
                    </table>

                    <table width="100%" style="margin-bottom: 20px; background-color: ghostwhite; border-bottom-style:ridge; border-bottom-color:burlywood">
                        <tr>
                            <td height="40" valign="middle"><img src="/images/sub/icon_arrow.png" alt="" height="25" /> @vnn.svBloomA <img src="/images/sub/ico_con_tit.png" alt="" /> @vnn.svBloomB <img src="/images/sub/ico_con_tit.png" alt="" /> @vnn.svBloomC <img src="/images/sub/ico_con_tit.png" alt="" /> @vnn.svBloom  </td>
                            <td class="text-right">
                            </td>
                        </tr>
                    </table>

                    <table width="100%" style="margin-bottom: 5px">
                        <tr>
                            <td><img src="/images/Scw.jpg" alt="" height="30" /> <span>&nbsp;업무지시 내용</span></td>
                            <td></td>
                            <td class="text-right">
                                @if (Files_Entity.Count > 0)
                                {
                                    <button id="works3" name="works3" class="btn btn-dark btn-sm" @onclick="onFileViews"><span class="bi-pin"> 사진보기</span></button>
                                }
                                <span>&nbsp;</span>

                                @if (vnn.Conform == "A")
                                {
                                    <button id="works3" name="works3" class="btn btn-primary btn-sm" @onclick="onFileInput"><span class="bi-image"> 사진첨부</span></button>
                                    <span>&nbsp;</span>

                                    <button id="works2" name="works2" class="btn btn-primary btn-sm" @onclick="onStock"><span class="bi-journal-check"> 자재관리</span></button>
                                    <span>&nbsp;</span> <button id="works1" name="works1" class="btn btn-success btn-sm" @onclick="onComplete"><span class="bi-check-square"> 작업완료등록</span></button>
                                    <span>&nbsp;</span>

                                    <button id="newWorks" name="newWorks" class="btn btn-warning btn-sm" @onclick="() => onEditOpen(vnn)"><span class="bi-pencil">&nbsp;지시 사항 수정</span></button>
                                }
                            </td>
                        </tr>
                    </table>
                    <table class="table table-bordered" style="border-top-width: thick; border-top-color: cadetblue; font-size: 0.9em">
                        <tr>
                            <td style="vertical-align:middle"><img src="/images/sub/board_tit_bullet.png" alt="" /><span style="font-weight:bold">지시자 : </span> @vnn.svDirect</td>
                            <td style="vertical-align:middle"><img src="/images/sub/board_tit_bullet.png" alt="" /><span style="font-weight:bold">접수부서 : </span> @vnn.svPost</td>
                            <td style="vertical-align:middle; text-align: center;">
                                <img src="/images/sub/board_tit_bullet.png" alt="" />
                                <span style="font-weight:bold">접수자 : </span> @vnn.svReceiver
                            </td>
                            <td style="width: 40%;" rowspan="3">
                                <div style="height: 100px; overflow-y : scroll">
                                    <img src="/images/sub/board_tit_bullet.png" alt="" /><span style="font-weight:bold">지시사항 : </span>
                                    @((MarkupString)Dul.HtmlUtility.EncodeWithTabAndSpace(vnn.svContent))
                                </div>

                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">
                                <img src="/images/sub/board_tit_bullet.png" alt="" /><span style="font-weight:bold">완료여부 : </span>
                                @if (vnn.Complete == "A")
                                {
                                    <span style="color: red">미완료</span>
                                }
                                else if (vnn.Complete == "C")
                                {
                                    <span style="color: green">진행중</span>
                                }
                                else if (vnn.Complete == "B")
                                {
                                    <span style="color: blue">완료</span>
                                }
                            </td>
                            <td style="vertical-align:middle" colspan="2"><img src="/images/sub/board_tit_bullet.png" alt="" /><span style="font-weight:bold">접수일 : </span> @vnn.svYear<span>년</span>@vnn.svMonth<span>월</span>@vnn.svDay<span>일</span></td>
                        </tr>
                        <tr>
                            <td colspan="3" style="vertical-align:middle">

                                @foreach (var it in scJoin)
                                {
                                    <div style="margin-bottom: 5px">
                                        <span class="bi-clipboard-check" style="font-weight: bold; color: darkcyan"> 자재출고 내역</span>  &nbsp;☞&nbsp; <span style="font-weight:bold">자재명 : </span>@it.St_Name<span> &nbsp;&nbsp;&nbsp; </span>

                                        @if (it.Wh_Section == "A")
                                        {
                                            <span style="font-weight:bold"> 입고 : </span>
                                        }
                                        else
                                        {
                                            <span style="font-weight:bold"> 출고 : </span>
                                        }
                                        @it.Wh_Quantity@it.St_Unit


                                        <span> &nbsp;&nbsp;&nbsp; </span> <span style="font-weight:bold"> 잔고 : </span> @it.Wh_Balance@it.St_Unit  &nbsp;&nbsp;&nbsp;
                                        @if (vnn.Conform == "A")
                                        {
                                            @*<button id="newWorks" name="newWorks" class="btn btn-outline-warning btn-sm" @onclick="() => onStocksEdit(it)"><span class="bi-pencil"> 수정</span></button> <span> &nbsp;&nbsp;</span>*@
                                            <a class="badge badge-warning" @onclick="() => onStocksEdit(it)"><span class="bi-pencil"> 수정</span></a>
                                            <span> &nbsp;</span>
                                            @*<button id="newWorks" name="newWorks" class="btn btn-outline-danger btn-sm" @onclick="() => onStocksRemove(it.Num)"><span class="bi-journal-x"> 삭제</span></button>*@
                                            <a class="badge badge-danger" @onclick="() => onStocksRemove(it.Num)"><span class="bi-journal-x" style="color: white"> 삭제</span></a>
                                        }
                                    </div>
                                }
                            </td>
                        </tr>
                    </table>

                    <table width="100%" style="margin-bottom: 5px">
                        <tr>
                            <td><img src="/images/Scw.jpg" alt="" height="30" /><span>&nbsp;업무 내역 상세</span></td>
                            <td></td>
                            <td class="text-right"><button id="newWorks" name="newWorks" class="btn btn-primary btn-sm" @onclick="onOpen"><span class="bi-tools"> 작업 내역 등록</span></button></td>
                        </tr>
                    </table>

                    <table class="table table-bordered" style="border-top-width: thick; border-top-color: cadetblue; font-size: 0.9em">
                        @foreach (var st in wnn)
                        {
                            <tr>
                                <td style="vertical-align: middle; width: 150px">
                                    <img src="/images/sub/board_tit_bullet.png" alt="" /><span style="font-weight:bold">구분 : </span> @st.Out_In_Viw
                                </td>
                                <td style="vertical-align: middle; width: 350px">
                                    <img src="/images/sub/board_tit_bullet.png" alt="" /><span style="font-weight:bold">작업일 : </span> @st.WorkDate.ToShortDateString()
                                </td>
                                <td style="vertical-align: middle; width: 180px">
                                    <img src="/images/sub/board_tit_bullet.png" alt="" /><span style="font-weight:bold">비용 : </span>
                                    @if (st.Cost > 0)
                                    {
                                        @string.Format("{0: ###,###.##}", st.Cost)

                                        <span>원</span>
                                    }
                                    else
                                    {
                                        <span>0원</span>
                                    }

                                </td>
                                <td rowspan="3" style="border-bottom:groove">
                                    <div style="overflow-y: auto">
                                        <img src="/images/sub/board_tit_bullet.png" alt="" /><span style="font-weight:bold">작업 내용 : </span><br /> @((MarkupString)Dul.HtmlUtility.EncodeWithTabAndSpace(st.WorkContent))
                                    </div>

                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align: middle">
                                    <img src="/images/sub/board_tit_bullet.png" alt="" /><span style="font-weight:bold">부서 : </span> @st.WorkPost
                                </td>
                                <td style="vertical-align:middle">
                                    <img src="/images/sub/board_tit_bullet.png" alt="" /><span style="font-weight:bold">작업자 : </span> @st.WorkerName
                                </td>
                                <td style="vertical-align: middle">
                                    <img src="/images/sub/board_tit_bullet.png" alt="" /><span style="font-weight:bold">작업자 : </span> @st.WorkerCount<span>명</span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3" class="text-right" style="border-bottom:groove">
                                    @if (vnn.Conform == "A")
                                    {
                                        <button id="newWorks" name="newWorks" class="btn btn-warning btn-sm" @onclick="() => onUpdateD(st)"><span class="bi-pencil"> 수정</span></button>
                                        <button id="newWorks" name="newWorks" class="btn btn-danger btn-sm" @onclick="() => onRemoveD(st.Aid)"><span class="bi-journal-x"> 삭제</span></button>
                                    }
                                </td>
                            </tr>
                        }
                    </table>

                </div>
                <div class="modal-footer" style="font-size: 0.9em; padding: 10px">
                    <button type="button" class="btn btn-secondary btn-sm" @onclick="btnCloseV"><span class="bi-door-closed-fill"></span> &nbsp;닫기 </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop show"></div>
}


@*작업 내용 새로 등록 모달 폼*@
@if (DetailsViews == "B")
{
    <div class="modal fade show d-block" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color:aliceblue">
                    <h5 class="modal-title"><span class="bi-tools"></span>&nbsp; 작업 내용 입력</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="btnDetailClose">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table" style="margin-bottom: 0px">
                        <tr>
                            <td>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" style="font-size: 0.9em"><span class="bi-clipboard-check"></span> 지시자</span></div>
                                    <select id="svDirect" class="custom-select" value="@ennA.Out_In_Viw" style="font-size: 0.9em" @onchange="onInOutCom" required>
                                        <option value="">=내·외부작업선택=</option>
                                        <option value="내부작업">내부작업</option>
                                        <option value="외부작업">외부작업</option>
                                    </select>
                                </div>
                            </td>

                            <td>
                                @if (InOutViews == "외부작업")
                                {
                                    <div class="input-group">

                                        <input id="Company_num" style="font-size: 0.9em" name="Company_num" value="@Company_num" class="form-control" type="text" @onchange="OnCompanyInfor" placeholder="사업자번호 입력" required />
                                        <div class="input-group-append"><span class="input-group-text" style="font-size: 0.9em"><span class="bi-search"></span>&nbsp; 찾기</span></div>
                                    </div>
                                }
                            </td>
                            <td>
                                @if (InOutViews == "외부작업")
                                {
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text" style="font-size: 0.9em"><span class="bi-file-ppt"></span>&nbsp; 업체명</span></div>
                                        <input id="OutCorName" style="font-size: 0.9em" name="OutCorName" @bind="ennA.OutCorName" class="form-control" type="text" placeholder="업체명 입력" readonly="readonly" required />

                                    </div>
                                }

                            </td>
                        </tr>
                        @if (InOutViews == "외부작업")
                        {
                            <tr>
                                <td>
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text" style="font-size: 0.9em"><span class="bi-phone-vibrate-fill"></span>&nbsp; 연락처</span></div>
                                        <input id="OutCorMobile" style="font-size: 0.9em" name="OutCorMobile" @bind="ennA.OutCorMobile" class="form-control" type="text" placeholder="연락처  입력" required />

                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text" style="font-size: 0.9em"><span class="bi-person-dash"></span>&nbsp; 담당자</span></div>
                                        <input id="OutCorCharger" style="font-size: 0.9em" name="OutCorCharger" @bind="ennA.OutCorCharger" class="form-control" type="text" placeholder="담당자  입력" required />

                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text" style="font-size: 0.9em"><span class="bi-person-dash"></span>&nbsp; 업체코드</span></div>
                                        <input id="Scw_Code" style="font-size: 0.9em" name="Scw_Code" @bind="ennA.Scw_Code" class="form-control" type="text" placeholder="업체 코드  입력" readonly="readonly" required />

                                    </div>
                                </td>
                            </tr>
                        }


                        <tr>
                            <td>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" style="font-size: 0.9em"><span class="bi-calendar-check"></span>&nbsp; 날짜</span></div>
                                    <input id="WorkDate" style="font-size: 0.9em" name="WorkDate" @bind="ennA.WorkDate" class="form-control" type="date" placeholder="작일일 입력" required />

                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" style="font-size: 0.9em"><span class="bi-clipboard-check"></span>&nbsp;작업부서</span></div>
                                    <select id="svPost" class="custom-select" value="@ennA.WorkPost" style="font-size: 0.9em" @onchange="OnDetailPost" required>
                                        <option value="">=부서선택=</option>
                                        @foreach (var it in pnn)
                                        {
                                            <option value="@it.PostName" title="@it.Etc"> @it.PostName</option>
                                        }
                                    </select>
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" style="font-size: 0.9em"><span class="bi-people-fill"></span>&nbsp;작업자</span></div>
                                    <select id="WorkerName" class="custom-select" style="font-size: 0.9em" @onchange="OnDetailReciever" required>
                                        <option value="">=작업자선택=</option>
                                        @foreach (var it in fnnD)
                                        {
                                            <option value="@it.User_Name">@it.User_Name</option>
                                        }
                                    </select>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" style="font-size: 0.9em"><span class="bi-person-dash"></span>&nbsp; 비용</span></div>
                                    <input id="Cost" style="font-size: 0.9em" name="Cost" @bind="ennA.Cost" class="form-control" type="number" placeholder="작업 비용  입력" required />

                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" style="font-size: 0.9em"><span class="bi-person-dash"></span>&nbsp; 작업수</span></div>
                                    <input id="Amount" style="font-size: 0.9em" name="Amount" @bind="ennA.Amount" class="form-control" type="number" placeholder="작업횟수  입력" required />
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" style="font-size: 0.9em"><span class="bi-person-dash"></span>&nbsp; 작업자수</span></div>
                                    <input id="WorkerCount" style="font-size: 0.9em" name="WorkerCount" @bind="ennA.WorkerCount" class="form-control" type="number" placeholder="작업자수  입력" required />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" style="font-size: 0.9em"><span class="bi-person-dash"></span>&nbsp; 작업자</span></div>
                                    <input id="WorkerName" style="font-size: 0.9em" name="WorkerName" @bind="ennA.WorkerName" class="form-control" type="text" placeholder="작업자  입력" required />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" style="font-size: 0.9em"><span class="bi-person-dash"></span>&nbsp; 작업내용</span></div>
                                    <textarea id="WorkContent" style="font-size: 0.9em" name="WorkContent" @bind="ennA.WorkContent" rows="3" class="form-control" type="text" placeholder="작업내용  입력" required />
                                </div>
                            </td>
                        </tr>

                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-sm" @onclick="btnDetailSave"><span class="bi-save2-fill"></span> &nbsp; 저장</button> &nbsp;
                    <button type="button" class="btn btn-secondary btn-sm" @onclick="btnDetailClose"><span class="bi-house-door"></span> &nbsp; 닫기</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop show"></div>
}

@*자재관리 등록 모달폼*@
@if (StocksViews == "B")
{
    <div class="modal fade show d-block" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color:aliceblue">
                    <h6 class="modal-title"><span class="bi-list-task"></span> &nbsp; 자재입출 관리 </h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="btnStocksClose">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table" style="margin-bottom: 0px">
                        <tr>
                            <td colspan="2">
                                <div class="input-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text" style="font-size: 0.9em"><span class="bi-file-earmark-binary"></span> &nbsp;자재찾기</span></div>
                                        <input id="Name" name="Name" style="font-size: 0.9em" value="@strSt_Name" @onchange="OnStocksName" class="form-control" type="text" />
                                    </div>
                                </div>

                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" style="font-size: 0.9em"><span class="bi-clipboard-check"></span> &nbsp; 자재명</span></div>
                                    <select id="St_Name" class="custom-select" style="font-size: 0.9em" value="@wheE.St_Code" @onchange="OnSelectName" required>
                                        <option value="">=자재명 선택=</option>

                                        @foreach (var it in sceL)
                                        {
                                            <option value="@it.St_Code">@it.St_Name</option>
                                        }
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" style="font-size: 0.9em"><span class="bi-clipboard-check"></span> &nbsp; 입출고</span></div>
                                    <select id="Wh_Section" class="custom-select" style="font-size: 0.9em" value="@wheE.Wh_Section" @onchange="OnSection" required>
                                        <option value="">=입출고 선택=</option>

                                        <option value="B">출고</option>
                                        <option value="A">입고</option>

                                    </select>
                                </div>
                            </td>

                            <td>
                                <div class="input-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text" style="font-size: 0.9em"><span class="bi-file-earmark-binary"></span>&nbsp;  갯수</span></div>
                                        <input id="Wh_Quantity" name="Wh_Quantity" style="font-size: 0.9em" value="@wheE.Wh_Quantity" @onchange="OnQuantity" class="form-control" type="number" placeholder="입출고 갯수 입력" />
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="input-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text" style="font-size: 0.9em"><span class="bi-file-earmark-binary"></span>&nbsp;  기존 잔고</span></div>
                                        <input id="strWh_Balance" name="strWh_Balance" style="font-size: 0.9em" @bind="strWh_Balance" class="form-control" type="number" readonly="readonly" />
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text" style="font-size: 0.9em"><span class="bi-file-earmark-binary"></span>&nbsp;  이후 잔고</span></div>
                                        <input id="Wh_Balance" name="Wh_Balance" style="font-size: 0.9em" @bind="wheE.Wh_Balance" class="form-control" type="number" readonly="readonly" />
                                    </div>
                                </div>
                            </td>
                        </tr>


                        @if (wheE.Wh_Section == "A")
                        {
                            <tr>
                                <td>
                                    <div class="input-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text" style="font-size: 0.9em"><span class="bi-file-earmark-binary"></span>&nbsp;  비용</span></div>
                                            <input id="Wh_Cost" name="Wh_Cost" style="font-size: 0.9em" @bind="wheE.Wh_Cost" class="form-control" type="number" />
                                        </div>
                                    </div>


                                </td>
                                <td>
                                    <div class="input-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text" style="font-size: 0.9em"><span class="bi-file-earmark-binary"></span>&nbsp;장소</span></div>
                                            <input id="Wh_Place" name="Wh_Place" style="font-size: 0.9em" @bind="wheE.Wh_Place" class="form-control" type="text" />
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }


                        <tr id="vw4">

                            <td colspan="2">
                                <div class="input-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text" style="font-size: 0.9em"><span class="bi-file-earmark-binary"></span>&nbsp;  참고사항</span></div>
                                        <input id="Etc" name="Etc" style="font-size: 0.9em" @bind="wheE.Etc" class="form-control" type="text" placeholder="참고사항을 입력하세요." />
                                    </div>
                                </div>

                            </td>
                        </tr>

                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-sm" @onclick="btnStocksSave"><span class="bi-pin"> 저 장</span></button> &nbsp; &nbsp; &nbsp;
                    <button type="button" class="btn btn-secondary btn-sm" @onclick="btnStocksClose"><span class="bi-clipboard-x"> 닫 기</span></button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal-backdrop show"></div>
}

@*파일 첨부 올리기*@
@if (FileInsertViews == "B")
{
    <div class="modal fade show d-block" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title"><span class="bi-file-code"></span> 첨부파일 입력</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="btnFileClose">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div style="margin-top: 10px">

                        <p>
                            <InputFile OnChange="LoadFiles" class="custom-file" style="font-size: 0.9em" multiple></InputFile>
                        </p>
                        @if (isLoading)
                        {
                            <p style="text-align: center">
                                <img src="/images/loader.gif" height="40" />
                            </p>
                            <p>Progress: @string.Format("{0:P0}", progressPercent)</p>
                        }

                    </div>

                </div>
                <div class="modal-footer">
                    @*<button type="button" class="btn btn-primary" @onclick="btnFileSave">저장</button>*@
                    <button type="button" class="btn btn-secondary" @onclick="btnFileClose">닫기</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-backdrop show"></div>
}


@*여부 모달폼*@
@if (InputCompleteViews == "B")
{
    <div class="modal fade show d-block" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color:aliceblue">
                    <h6 class="modal-title"> <span class="bi-pencil-square"></span> 업무 종결 여부 입력</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="btnWorkCompleteClose">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table" style="font-size: 0.9em">
                        <tr>
                            <td>
                                <span class="bi-house-door-fill" style="font-weight: bold">대분류 : </span> @vnn.svBloomA
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="bi-house-door-fill" style="font-weight: bold">중분류 : </span> @vnn.svBloomB
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="bi-house-door-fill" style="font-weight: bold">소분류 : </span> @vnn.svBloomC
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="bi-house-door-fill" style="font-weight: bold">장소 : </span> @vnn.svBloom
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="bi-house-door-fill" style="font-weight: bold">완료여부 : </span>
                                @if (vnn.Complete == "A")
                                {
                                    <span style="color: red">미완료</span>
                                }
                                else if (vnn.Complete == "C")
                                {
                                    <span style="color: green">진행중</span>
                                }
                                else if (vnn.Complete == "B")
                                {
                                    <span style="color: blue">완료</span>
                                }

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="bi-house-door-fill" style="font-weight: bold">지시내용 : </span> @vnn.svContent
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-footer" style="font-size: 0.9em">

                    <button type="button" class="btn btn-primary btn-sm" @onclick="() => btnWorkCompleteSave(vnn.Num)"><span class="bi-save2"></span>&nbsp;저장</button> &nbsp;

                    <button type="button" class="btn btn-secondary btn-sm" @onclick="btnWorkCompleteClose"><span class="bi-door-closed-fill"></span>&nbsp;닫기</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-backdrop show"></div>
}


@*수정하기*@
@if (EditViews == "B")
{
    <div class="modal fade show d-block" id="subInput" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color:beige">
                    <h5 class="modal-title"><span class="bi-people"></span>  &nbsp; 업무일지 지시 수정</h5>
                </div>
                <div class="modal-body">
                    <table class="table table-condensed" style="background-color:white; margin-bottom: 0px">
                        <tr id="vw3">
                            <td>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" style="font-size: 0.9em"><span class="bi-clipboard-check"></span> 지시일</span></div>
                                    <input id="svDate" name="svDate" @bind="svDate" style="font-size: 0.9em" class="form-control" type="date" />
                                </div>
                            </td>

                            <td>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" style="font-size: 0.9em"><span class="bi-clipboard-check"></span> 지시자</span></div>
                                    <select id="svDirect" class="custom-select" style="font-size: 0.9em" @bind="dnn.svDirect" required>
                                        <option value="관리소장">관리소장</option>
                                        <option value="관리과장">관리과장</option>
                                        <option value="시설과장">시설과장</option>
                                        <option value="전기과장">전기과장</option>
                                        <option value="경리과장">경리과장</option>
                                        <option value="관리실장">관리실장</option>
                                        <option value="센터장">센터장</option>
                                        <option value="기타">기타</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr id="vw3">
                            <td>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" style="font-size: 0.9em"><span class="bi-clipboard-check"></span> 접수부서</span></div>
                                    <select id="svPost" class="custom-select" value="@dnn.svPost" style="font-size: 0.9em" @onchange="OnPost" required>
                                        <option value="Z">=부서선택=</option>
                                        @foreach (var it in pnn)
                                        {
                                            <option value="@it.PostName" title="@it.Etc"> @it.PostName</option>
                                        }
                                    </select>
                                </div>
                            </td>

                            <td>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" style="font-size: 0.9em"><span class="bi-clipboard-check"></span> 접수자</span></div>
                                    <select id="txtPrivateB" class="custom-select" value="@dnn.svReceiver" style="font-size: 0.9em" @onchange="OnReciever" required>
                                        <option value="">=접수자선택=</option>
                                        @foreach (var it in fnn)
                                        {
                                            <option value="@it.User_Name">@it.User_Name</option>
                                        }
                                    </select>
                                </div>
                            </td>
                        </tr>

                        <tr id="vw1">
                            <td width="50%">
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" style="font-size: 0.9em"><span class="bi-clipboard-check"></span> 작업대분류</span></div>
                                    <select id="strWSortA" class="custom-select" value="@strWSortA" style="font-size: 0.9em" @onchange="onWSortA" required>
                                        <option value="">=대분류선택=</option>
                                        @foreach (var it in bloom_A)
                                        {
                                            <option value="@it.B_N_A_Name">@it.B_N_A_Name</option>
                                        }
                                    </select>
                                </div>
                            </td>

                            <td>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" style="font-size: 0.9em"><span class="bi-clipboard-check"></span> 작업중분류</span></div>
                                    <select id="txtPrivateB" style="font-size: 0.9em" class="custom-select" value="@strWSortB" @onchange="onWSortB" required>
                                        <option value="">=중분류 선택=</option>
                                        @foreach (var it in bloom_B)
                                        {
                                            <option value="@it.B_N_B_Name">@it.B_N_B_Name</option>
                                        }
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr id="vw3">
                            <td>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" style="font-size: 0.9em"><span class="bi-clipboard-check"></span> 작업소분류</span></div>
                                    <select id="txtPrivateC" class="custom-select" style="font-size: 0.9em" value="@strWSortC" @onchange="onWSortC" required>
                                        <option value="Z">=소분류 선택=</option>
                                        @foreach (var it in bloom_C)
                                        {
                                            <option value="@it.B_N_C_Name">@it.B_N_C_Name</option>
                                        }
                                    </select>
                                </div>
                            </td>

                            <td>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" style="font-size: 0.9em"><span class="bi-clipboard-check"></span> 작업 장소</span></div>
                                    <select id="txtPrivateD" class="custom-select" style="font-size: 0.9em" value="@strWSortD" @onchange="onWSortD" required>
                                        <option value="">=장소 선택=</option>
                                        @foreach (var it in bloom_D)
                                        {
                                            <option value="@it.Bloom">@it.Bloom</option>
                                        }
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <textarea id="svContent" rows="5" @bind="@dnn.svContent" class="form-control" placeholder="이곳에 지시내용을 입력해 주세요." style="min-width: 100%; font-size: 0.9em"></textarea>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-footer" style="background-color: burlywood">

                    <button type="button" class="btn btn-primary btn-sm" @onclick="btnWorkSave"><span class="bi-save"> 저장</span></button> &nbsp; &nbsp; &nbsp;
                    <button type="button" class="btn btn-secondary btn-sm" @onclick="btnWorkClose"><span class="bi-x"> 닫기</span></button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop show"></div>
}


@*파일 보기 모달품*@
@if (FileViews == "B")
{
    <div class="modal fade show d-block" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color:aliceblue">
                    <h6 class="modal-title"><span class="bi-file-code"></span> 첨부파일 보기</h6>
                    @*<button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="ToggleClose">
                            <span aria-hidden="true">&times;</span>
                        </button>*@
                </div>
                <div class="modal-body">

                    @if (Files_Count > 0)
                    {
                        <div style="height: 500px; overflow-y: scroll; overflow-x: hidden">

                            @foreach (var files in Files_Entity)
                            {
                                <div class="text-center">
                                    <img src="/Appeal/@files.Sw_FileName" alt="" class="img-thumbnail" />
                                </div>
                            }
                        </div>
                        @if (vnn.Conform == "A")
                        {
                            <div style="width: 100%; overflow-x : scroll">
                                @foreach (var st in Files_Entity)
                                {
                                    @st.Sw_FileName <button id="newWorks" name="newWorks" class="btn btn-link btn-sm" @onclick="() => ByFileRemove(st)"><span class="bi-journal-x"> 삭제</span></button>
                                }
                            </div>
                        }

                    }

                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-secondary btn-sm" @onclick="FilesViewsClose"><span class="bi-x-lg">&nbsp;닫기</span> </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-backdrop show"></div>
}

@* 검색 모달 폼*@
@if (SearchViews == "B")
{
    <div class="modal fade show d-block" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color:aliceblue">
                    <h6 class="modal-title"><span class="bi-alarm"></span>&nbsp;@strTitle</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="btnCloseS">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @*<div class="modal-dialog modal-dialog-scrollable">*@
                    <table class="table" style="font-size: 0.9em">
                        <tr>
                            <td>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" style="font-size: 0.9em"><span class="bi-clipboard-check"></span> 대분류</span></div>
                                    <select id="strWSortA" class="custom-select" value="@strWSortA" style="font-size: 0.9em; width: 150px" @onchange="onSearchA" required>
                                        <option value="">=대분류선택=</option>
                                        @foreach (var it in bloom_A)
                                        {
                                            <option value="@it.B_N_A_Name">@it.B_N_A_Name</option>
                                        }
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" style="font-size: 0.9em"><span class="bi-clipboard-check"></span> 중분류</span></div>
                                    <select id="txtPrivateB" style="font-size: 0.9em; width: 150px" class="custom-select" value="@strWSortB" @onchange="onSearchB" required>
                                        <option value="">=중분류 선택=</option>
                                        @foreach (var it in bloom_B)
                                        {
                                            <option value="@it.B_N_B_Name">@it.B_N_B_Name</option>
                                        }
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" style="font-size: 0.9em"><span class="bi-clipboard-check"></span> 소분류</span></div>
                                    <select id="txtPrivateC" class="custom-select" style="font-size: 0.9em; width: 150px" value="@strWSortC" @onchange="onSearchC" required>
                                        <option value="">=소분류 선택=</option>
                                        @foreach (var it in bloom_C)
                                        {
                                            <option value="@it.B_N_C_Name">@it.B_N_C_Name</option>
                                        }
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" style="font-size: 0.9em"><span class="bi-file-ppt"></span>&nbsp; 키워드</span></div>
                                    <input id="OnKeyWord" style="font-size: 0.9em; width: 150px" name="OnKeyWord" @onchange="OnKeyWord" class="form-control" type="text" placeholder="키워드 입력" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" style="font-size: 0.9em"><span class="bi-file-ppt"></span>&nbsp; 시작</span></div>
                                    <input id="OutCorName" style="font-size: 0.9em; width: 150px" name="OutCorName" value="@StartDate" @onchange="OnStart" class="form-control" type="date" placeholder="시작일 입력" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" style="font-size: 0.9em"><span class="bi-file-ppt"></span>&nbsp; 종료</span></div>
                                    <input id="OutCorName" style="font-size: 0.9em; width: 150px" name="OutCorName" value="@EndDate" @onchange="OnEnd" class="form-control" type="date" placeholder="종료일 입력" />
                                    @*<div class="input-group-append">
                                            <input id="Button1" class="btn btn-primary btn-sm" style="font-size: 0.9em" type="button" @onclick="onBySearch" value="검색" />
                                        </div>*@
                                </div>
                            </td>
                        </tr>
                    </table>
                    @*</div>*@
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" @onclick="btnCloseS"><span class="bi-door-closed"></span> 닫기</button>
                </div>
            </div>
        </div>
    </div>
}

@*경고창 모달*@
@if (AlertViews == "B")
{
    <div class="modal fade show d-block" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

                <div class="modal-body  text-danger">
                    <div style="font-size: 1em;">
                         <table style="width: 100%">
                             <tr>
                                 <td width="5%">
                                     <img src="/images/Warn.gif" height="30" />
                                 </td>
                                 <td height="100" style="vertical-align:middle">
                                    @AlertBodyA<br>
                                    @AlertBodyB<br>
                                    @AlertBodyC<br>
                                    @AlertBodyD
                                 </td>
                             </tr>
                         </table> 
                    </div>
                    
                </div>
                    <div class="modal-footer" style="background-color:darkseagreen">
                    <a class="badge badge-warning" @onclick="@btnCloseZ">닫 기</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop show"></div>
}
