@page "/Accountings/Banks"


<div class="card">
    <div class="card-header">
        <table width="100%">
            <tr>
                <td>
                    <h6><span class="bi-journal-text"> </span>&nbsp;은행통장 정보 목록</h6>
                </td>
                <td>
                </td>
                <td class="text-right">
                    <button type="button" class="btn btn-outline-primary btn-sm" @onclick="btnInsert"> <span class="bi-tools"></span>&nbsp;은행 계좌 등록</button>
                </td>
            </tr>
        </table>
    </div>
    <div class="card-body">
        @if (ann == null)
        {
            <p style="text-align:center">
                <img src="/images/loader.gif" />
            </p>
        }
        else if (ann.Count == 0)
        {
            <p style="text-align:center">
                입력된 정보가 없습니다. ............
            </p>
        }
        else
        {
            <table class="table table-sm" style="font-size: 0.9em">
                <thead>
                    <tr style="background-color:whitesmoke;">
                        <th style="text-align: center">
                            식별코드
                        </th>
                        <th style="text-align: center">
                            은행명
                        </th>
                        <th style="text-align: center">
                            통장명
                        </th>
                        <th style="text-align: center">
                            계좌번호
                        </th>
                        <th style="text-align: center">
                            통장구분
                        </th>
                        <th style="text-align: center">
                            예금종류
                        </th>
                        <th style="text-align: center">
                            계좌설명
                        </th>
                        <th style="text-align: center">
                            입력일
                        </th>
                        <th style="text-align: center">
                            사용여부
                        </th>
                        <th style="text-align: center">
                            입력자
                        </th>
                        <th style="text-align: center">
                            선택
                        </th>
                    </tr>
                </thead>
                <tbody>
                   @foreach (var st in ann)
                   {
                        <tr>
                            <td style="text-align: center; vertical-align: middle">
                                @st.Aid
                            </td>
                            <td style="text-align: center; vertical-align: middle">
                                @st.BankName
                            </td>
                            <td style="text-align: center; vertical-align: middle">
                                @st.BankAccountName
                            </td>
                            <td style="text-align: center; vertical-align: middle">
                                @st.BankNumber
                            </td>
                            <td style="text-align: center; vertical-align: middle">
                                @st.BankAccountSort
                            </td>
                            <td style="text-align: center; vertical-align: middle">
                                @st.BankAccountDivision
                            </td>
                            <td style="text-align: center; vertical-align: middle">
                                @Dul.StringLibrary.CutString(st.Details, 20)
                            </td>
                            <td style="text-align: center; vertical-align: middle">
                                @st.PostDate.ToShortDateString()
                            </td>
                            <td style="text-align: center; vertical-align: middle">
                                @if (st.del == "A")
                                {
                                    <span style="color:blue">사용</span>
                                }
                                else
                                {
                                    <span style="color:red">미사용</span>
                                }
                                
                            </td>
                            <td style="text-align: center; vertical-align: middle">
                                @staff_Lib.UsersName(st.User_Code)
                            </td>
                            <td style="text-align: center; vertical-align: middle">
                                <input id="Button11" class="btn btn-link btn-sm" style="font-size: 0.9em" type="button" @onclick="() => ByEdit(st)" value="수정" />
                                 <input id="Button12" class="btn btn-link btn-sm" style="font-size: 0.9em" type="button" @onclick="() => ByRemove(st)" value="삭제" />
                            </td>
                        </tr>
                    }
                    
                </tbody>
            </table>
        }
    </div>
    <div class="card-footer" style="text-align: right">
        @Apt_Name  &nbsp;&nbsp;  @User_Name
    </div>
</div>