@page "/Facilities"


<div class="card" style="margin-bottom: 10px">
    <div class="card-header">
        <table width="100%">
            <tr>
                <td>
                    <span class="bi-book-half"> &nbsp; 시설물 분류 입력(수정)</span>
                </td>
                <td>
                    <input id="btnSave" type="button" class="btn btn-info" @onclick="btnBloomA" value="대분류 입력" />
                </td>
                <td>
                    <input id="btnSave" type="button" class="btn btn-info" @onclick="btnBloomB" value="중분류 입력" />
                </td>
                <td>
                    <input id="btnSave" type="button" class="btn btn-info" @onclick="btnBloomC" value="세분류 입력" />
                </td>
                <td>
                    <input id="btnSave" type="button" class="btn btn-info" @onclick="btnBloomD" value="장소 입력" />
                </td>
            </tr>
        </table>
    </div>
    <div class="card-body">
        @if (Select == "A")
        {
            <table class="table" style="margin-bottom: 0px">
                <tr>
                    <td style="width: 20%">
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><span class="bi-file-earmark-binary"></span> &nbsp;대분류</span></div>
                            <input id="txtB_N_A_Name" name="Name" @bind="ann.B_N_A_Name" class="form-control" type="text" />
                        </div>
                    </td>
                    <td>
                        <input id="txtIntro" name="Name" @bind="ann.Intro" class="form-control" type="text" placeholder="대분류 설명" />
                    </td>
                </tr>
            </table>
        }
        else if (Select == "B")
        {
            <table class="table" style="margin-bottom: 0px">
                <tr>
                    <td style="width: 20%">
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><span class="bi-clipboard-check"></span> &nbsp; 대분류</span></div>
                            <select id="Select1" class="form-control" vale="@bnn.B_N_A_Name" @bind="bnn.B_N_A_Name" required>
                                <option value="Z">=대분류 선택=</option>
                                <option value="전기 설비">전기 설비</option>
                                <option value="소방 설비">소방 설비</option>
                                <option value="승강기 설비">승강기 설비</option>
                                <option value="건물 외부">건물 외부</option>
                                <option value="건물 내부">건물 내부</option>
                                <option value="오수·배수·정화조·위생·급수 설비">오수·배수·정화조·위생·급수 설비</option>
                                <option value="방송·통신·네트워크 설비">방송·통신·네트워크 설비</option>
                                <option value="냉방·난방·급탕·환기·가스 설비">냉방·난방·급탕·환기·가스 설비</option>
                                <option value="기타 설비">기타 설비</option>
                            </select>
                        </div>
                    </td>
                    <td style="width: 20%">
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><span class="bi-file-earmark-binary"></span> &nbsp;중분류</span></div>
                            <input id="txtB_N_B_Nam" name="Name" @bind="bnn.B_N_B_Name" class="form-control" type="text" />
                        </div>
                    </td>
                    <td>
                        <input id="txtIntro" name="Name" @bind="bnn.Intro" class="form-control" type="text" placeholder="중분류 설명" />
                    </td>
                </tr>
            </table>
        }
        else if (Select == "C")
        {
            <table class="table" style="margin-bottom: 0px">
                <tr>
                    <td style="width: 15%">
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><span class="bi-clipboard-check"></span> &nbsp; 대분류</span></div>
                            <select id="Select1" class="form-control" vale="@bnn.B_N_A_Name" @onchange="onBloomA" required>
                                <option value="Z">=대분류 선택=</option>
                                <option value="전기 설비">전기 설비</option>
                                <option value="소방 설비">소방 설비</option>
                                <option value="승강기 설비">승강기 설비</option>
                                <option value="건물 외부">건물 외부</option>
                                <option value="건물 내부">건물 내부</option>
                                <option value="오수·배수·정화조·위생·급수 설비">오수·배수·정화조·위생·급수 설비</option>
                                <option value="방송·통신·네트워크 설비">방송·통신·네트워크 설비</option>
                                <option value="냉방·난방·급탕·환기·가스 설비">냉방·난방·급탕·환기·가스 설비</option>
                                <option value="기타 설비">기타 설비</option>
                            </select>
                        </div>
                    </td>
                    <td style="width: 15%">
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><span class="bi-clipboard-check"></span> &nbsp; 중분류</span></div>
                            <select id="Select1" class="form-control" @bind="cnn.B_N_B_Name" required>
                                <option value="Z">=중분류 선택=</option>
                                @foreach (var its in fbe_b)
                                {
                                    <option value="@its.B_N_B_Name">@its.B_N_B_Name</option>
                                }

                            </select>
                        </div>
                    </td>
                    <td style="width: 20%">
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><span class="bi-file-earmark-binary"></span> &nbsp;세분류</span></div>
                            <input id="txtB_N_C_Name" name="Name" @bind="cnn.B_N_C_Name" class="form-control" type="text" />
                        </div>
                    </td>
                    <td style="width: 15%">
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><span class="bi-file-earmark-binary"></span> &nbsp;하자</span></div>
                            <input id="txtB_N_C_Name" name="Name" @bind="cnn.Period" class="form-control" type="number" required />
                            <div class="input-group-append"><span class="input-group-text">년</span></div>
                        </div>
                    </td>
                    <td>
                        <input id="txtIntro" name="Name" @bind="cnn.Intro" class="form-control" type="text" placeholder="세분류 설명" />
                    </td>
                </tr>
            </table>
        }
        else if (Select == "D")
        {
            <table class="table" style="margin-bottom: 0px">
                <tr>
                    <td style="width: 20%">
                        <div class="input-group" style="font-size: 0.9em">
                            <div class="input-group-prepend"><span class="input-group-text"><span class="bi-clipboard-check"></span> &nbsp; 대분류</span></div>
                            <select id="Select1" class="form-control" vale="@bnn.B_N_A_Name" @onchange="onBloomA" required>
                                <option value="Z">=대분류 선택=</option>
                                <option value="전기 설비">전기 설비</option>
                                <option value="소방 설비">소방 설비</option>
                                <option value="승강기 설비">승강기 설비</option>
                                <option value="건물 외부">건물 외부</option>
                                <option value="건물 내부">건물 내부</option>
                                <option value="오수·배수·정화조·위생·급수 설비">오수·배수·정화조·위생·급수 설비</option>
                                <option value="방송·통신·네트워크 설비">방송·통신·네트워크 설비</option>
                                <option value="냉방·난방·급탕·환기·가스 설비">냉방·난방·급탕·환기·가스 설비</option>
                                <option value="기타 설비">기타 설비</option>
                            </select>
                        </div>
                    </td>
                    <td style="width: 20%">
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><span class="bi-clipboard-check"></span> &nbsp; 중분류</span></div>
                            <select id="Select1" class="form-control" vale="@bnn.B_N_B_Name" @onchange="onBloomB" required>
                                <option value="Z">=중분류 선택=</option>
                                @foreach (var its in fbe_b)
                                {
                                    <option value="@its.B_N_B_Name">@its.B_N_B_Name</option>
                                }

                            </select>
                        </div>
                    </td>
                    <td style="width: 20%">
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><span class="bi-clipboard-check"></span> &nbsp; 세분류</span></div>
                            <select id="Select1" class="form-control" @bind="dnn.B_N_C_Name" required>
                                <option value="Z">=세분류 선택=</option>
                                @foreach (var its in fbe_C)
                                {
                                    <option value="@its.B_N_C_Name">@its.B_N_C_Name</option>
                                }

                            </select>
                        </div>
                    </td>
                    <td style="width: 20%">
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><span class="bi-file-earmark-binary"></span> &nbsp;장 소</span></div>
                            <input id="txtBloom" name="Name" @bind="dnn.Bloom" class="form-control" type="text" />
                        </div>
                    </td>
                    <td>
                        <input id="txtIntro" name="Name" @bind="dnn.Intro" class="form-control" type="text" placeholder="장소 설명" />
                    </td>
                </tr>
            </table>

        }

    <div class="text-right">
        @BloomA &nbsp; &nbsp;  @BloomB &nbsp; &nbsp;  @BloomC  &nbsp; &nbsp; &nbsp;  <input id="Button1" class="btn btn-danger" type="button" @onclick="btnSave" value="저장" />
    </div>
    </div>
</div>



@if (fbe == null)
{
    <p style="text-align:center">
        <img src="/images/loader.gif" />
    </p>
}
else if (fbe.Count == 0)
{
    <p style="text-align:center">
        <img src="/images/loader.gif" />
    </p>
}
else
{
    <div class="card">
        <div class="card-header">
            <table>
                <tr>
                    <td>
                        <span class="bi-book-fill"> 시설물 분류 정보 목록</span>
                    </td>
                    <td width="5%">
                        
                    </td>
                    <td>
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text" style="font-size: 0.9em"><span class="bi-clipboard-check"></span> &nbsp; 대분류</span></div>
                            <select id="Select1" class="form-control" style="font-size: 0.9em" @onchange="onBloomAA" required>
                                <option value="Z">=대분류 선택=</option>
                                <option value="전기 설비">전기 설비</option>
                                <option value="소방 설비">소방 설비</option>
                                <option value="승강기 설비">승강기 설비</option>
                                <option value="건물 외부">건물 외부</option>
                                <option value="건물 내부">건물 내부</option>
                                <option value="오수·배수·정화조·위생·급수 설비">오수·배수·정화조·위생·급수 설비</option>
                                <option value="방송·통신·네트워크 설비">방송·통신·네트워크 설비</option>
                                <option value="냉방·난방·급탕·환기·가스 설비">냉방·난방·급탕·환기·가스 설비</option>
                                <option value="기타 설비">기타 설비</option>
                            </select>
                        </div>
                    </td>
                    <td width="5%">
                        
                    </td>
                    <td>
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text" style="font-size: 0.9em"><span class="bi-clipboard-check"></span> &nbsp; 중분류</span></div>
                            <select id="Select1" class="form-control" @onchange="onBloomBB" style="font-size: 0.9em" required>
                                <option value="Z">=중분류 선택=</option>
                                @foreach (var its in fbe_Z)
                                {
                                    <option value="@its.B_N_B_Name">@its.B_N_B_Name</option>
                                }

                            </select>
                        </div>
                    </td>
                    <td width="5%">
                        
                    </td>
                    <td class="text-center">
                        <button type="button" class="btn btn-outline-info btn-sm" @onclick="onPosition"><span class="bi-pin"> </span> 하자정보</button>                         
                    </td>

                </tr>
            </table>           
            
            
        </div>
        <div class="card-body">
            <div>
                <table class="table table-sm table-hover" style="font-size: 0.9em">
                    <tr style="background-color:ghostwhite">
                        <th class="text-center">
                            번호
                        </th>
                        <th class="text-center">
                            코드
                        </th>
                        <th class="text-center">
                            대분류
                        </th>
                        <th class="text-center">
                            중분류
                        </th>
                        <th class="text-center">
                            세분류
                        </th>
                        <th class="text-center">
                            장소
                        </th>
                        <th class="text-center">
                            분류코드
                        </th>
                        <th class="text-center">
                            하자기간
                        </th>
                        <th class="text-center">
                            설명
                        </th>
                        <th class="text-center">
                            입력일
                        </th>
                        <th class="text-center">
                            선택
                        </th>
                        
                    </tr>

                    @foreach (var it in fbe)
                    {
                        <tr>
                            <td class="text-center" style="vertical-align:middle">
                                @(inta--)
                            </td>
                            <td class="text-center" style="vertical-align:middle">
                                @it.AptCode
                            </td>
                            <td class="text-center" style="vertical-align:middle">
                                @it.B_N_A_Name
                            </td>
                            <td class="text-center" style="vertical-align:middle">
                                @it.B_N_B_Name
                            </td>
                            <td class="text-center" style="vertical-align:middle">
                                @it.B_N_C_Name
                            </td>
                            <td class="text-center" style="vertical-align:middle">
                                @it.Bloom
                            </td>
                            <td class="text-center" style="vertical-align:middle">
                                @it.Bloom_Code
                            </td>
                            <td class="text-center" style="vertical-align:middle">
                                @it.Period.ToString()
                            </td>
                            <td class="text-center" style="vertical-align:middle">
                                @Dul.StringLibrary.CutString(it.Intro, 18)
                            </td>
                            <td class="text-center" style="vertical-align:middle">
                                @it.PostDate.ToShortDateString()
                            </td>
                            <td class="text-center" style="vertical-align:middle">
                                <input id="btnSelect" type="button" class="btn btn-link btn-sm" @onclick="() => btnSelect(it)" value="선택" />
                            
                                <input id="btnSelect" type="button" class="btn btn-link btn-sm" @onclick="() =>btnRemove(it.Num)" value="삭제" />
                            </td>
                        </tr>
                    }

                </table>

                <div class="col-md-12">
                    <DulPager.DulPagerComponent Model="pager" PageIndexChanged="PageIndexChanged"></DulPager.DulPagerComponent>
                </div>
            </div>
        </div>
    </div>
}


